# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*.pyo

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
venv/
.env

# Logs and databases
*.log
*.sqlite3

# OS files
.DS_Store
